header{
    display: flex;
    justify-content: center;
    border: 1px solid black;
}
.contenedor{
    display: flex;
    align-items: stretch;
    margin-top:25px;
}
.contenedor-border{
    border:1px solid black;
}
.caja-1{
    flex: 1;
}
.caja-2{
    flex: 4;
}
/* seccion de tarjetas */
.contenedor-tarjetas{
    display: flex;
    justify-content:space-around;
    margin-top: 20px;
}
.tarjeta{
    width:200px;
    height: 250px;
    border: 1px solid black;
}
/* Píe de página */
footer{
    display: flex;
    justify-content:center;
    border: 1px solid black;
    margin-top:25px;
}